body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
}

h1 {
    text-align: center;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

input[type="text"] {
    flex: 2;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 1em;
}

select {
    flex: 1;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 1em;
}

button {
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.week-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.day-container {
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}

.day-container h2 {
    margin-bottom: 15px;
}

.day-container ul {
    list-style: none;
    padding: 0;
}

.day-container li {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: #fff;
    color: #444;
    transition: background 0.3s ease;
}

.day-container li.completed {
    text-decoration: line-through;
    color: #888;
    background: #e9ecef;
}

.day-container li button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.day-container li button:hover {
    background-color: #c82333;
}

.monday {
    background: #ff7979;
}

.tuesday {
    background: #badc58;
}

.wednesday {
    background: #f9ca24;
}

.thursday {
    background: #686de0;
}

.friday {
    background: #22a6b3;
}

.saturday {
    background: #be2edd;
}

.sunday {
    background: #30336b;
}
